<div class="vsc-initialized" id="signin">
  <%= form_tag sessions_path, class: "form-signin needs-validation", novalidate: true, method: :post do %>
    <h1 class="text-center h3 mb-3 font-weight-normal">Sign in</h1>
    <%= label_tag 'email', nil, class: "sr-only" %>
    <%= email_field_tag 'email', nil, class: "form-control", placeholder: "Email address", required: true, autofocus: true %>
    <%= label_tag 'password', nil, class: "sr-only" %>
    <%= password_field_tag 'password', nil, class: "form-control", placeholder: "Password", required: true %>
    <%= submit_tag 'Register', class: "btn btn-lg btn-primary btn-block bg-beaver" %>
  <% end %>
</div>