<!DOCTYPE html>
<html>
  <head>
    <title>CsScheduler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-beaver mb-4">
      <%= link_to "Scheduler", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse w-100" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <% if @current_user %>
            <%= link_to @current_user[:name], profile_path, class: "nav-item nav-link" %>
            <%= link_to 'Logout', logout_path, method: :delete, class: "nav-item nav-link" %>
          <% else %>
            <%= link_to 'Login', login_path, class: "nav-item nav-link" %>
            <%= link_to 'Register', register_path, class: "nav-item nav-link" %>
          <% end %>
        </div>
      </div>
    </nav>
    <%= render 'shared/errors', object: @user %>
    <%= yield %>
  </body>
</html>
